.artPage {
	line-height: 1.7;
	padding-top: var(--page-top-padding);
	max-width: 500px;
	margin: 0 auto;
}

.paintings {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.paintingCell {
	display: flex;
	flex-direction: column;
	margin: 5px 5px;
	width: 48%;
}

.title {
	display: flex;
	line-height: 1.25;
	margin: 5px 0 0 0;
}

.date {
	color: #999;
	font-size: 13px;
	/* font-style: italic; */
}

.words {
	margin: 25px 0;
}

@media (max-width: 500px) {
	.words {
		padding: 0 25px;
	}
}

@media (min-width: 900px) {
	.artPage {
		display: flex;
		justify-content: center;
		max-width: 90%;
	}

	.paintings {
		justify-content: flex-start;
		margin-bottom: 25px;
		width: 50%;
	}

	.paintingCell {
		margin: 5px 2.5%;
		width: 40%;
	}

	.words {
		margin-top: 0;
		width: 600px;
	}

	.wordsHeader {
		text-align: left;
	}
}
